@model KioskManager.Models.Kiosk

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kiosk @Model.SettingHostName</h4>
<h5>@Model.PCId</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SettingHostName" class="control-label"></label>
                <input asp-for="SettingHostName" class="form-control" />
                <span asp-validation-for="SettingHostName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingHomePage" class="control-label"></label>
                <input asp-for="SettingHomePage" class="form-control" />
                <span asp-validation-for="SettingHomePage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingKioskConfig" class="control-label"></label>
                <input asp-for="SettingKioskConfig" class="form-control" />
                <span asp-validation-for="SettingKioskConfig" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingScheduledAction" class="control-label"></label>
                <input asp-for="SettingScheduledAction" class="form-control" />
                <span asp-validation-for="SettingScheduledAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingRefreshPage" class="control-label"></label>
                <input asp-for="SettingRefreshPage" class="form-control" />
                <span asp-validation-for="SettingRefreshPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingRootPassword" class="control-label"></label>
                <input asp-for="SettingRootPassword" class="form-control" />
                <span asp-validation-for="SettingRootPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingRtcWake" class="control-label"></label>
                <input asp-for="SettingRtcWake" class="form-control" />
                <span asp-validation-for="SettingRtcWake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingScreenSettings" class="control-label"></label>
                <input asp-for="SettingScreenSettings" class="form-control" />
                <span asp-validation-for="SettingScreenSettings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingTimeZone" class="control-label"></label>
                <input asp-for="SettingTimeZone" class="form-control" />
                <span asp-validation-for="SettingTimeZone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
